:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin-top: 2rem;
  }
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    max-width: 80%;
  }
}

h2 {
  margin-bottom: 0 !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

h3.price {
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  width: 20%;
  text-align: center;
  border-radius: 1rem;
  min-width: 250px;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  background: rgba(130, 197, 130, 0.8);
}

img {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  border-radius: 10px;
}

.double {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .panel {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &_right {
      display: flex;
      justify-content: end;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }
  }
}

.group {
  width: 100%;

  .label {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(34, 34, 34);
  }
  .value {
    font-size: 1rem;
    color: white;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  width: 40%;
  text-align: center;
  border-radius: 1rem;
  min-width: 250px;
  padding: 1rem 0;
  border: none;
  background: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.6s;
  transition: transform 150ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &.back:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }

  &.add:hover {
    background-color: rgba(0, 140, 255, 0.15);
  }

  &:active {
    transition: transform 25ms ease-in-out;
    transform: scale(0.9);
  }

  p {
    margin: 0;
  }

  .icon {
    margin-left: 1rem;
  }
}

.error-message {
  align-self: center;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
}
