<div class="card" *ngIf="!error && product">
  <h2 class="card_title">{{ product.name }}</h2>
  <h3 class="price">{{ product.price }}€</h3>
  <div class="content">
    <div class="double">
      <div class="panel_left panel">
        <div class="group">
          <p class="reference_label label">REFERENCE :</p>
          <p class="reference_value value">{{ product.id }}</p>
        </div>
        <div class="group">
          <p class="reference_label label">STOCK SECTOR :</p>
          <p class="reference_value value">{{ product.stock_sector }}</p>
        </div>
        <div class="group">
          <p class="reference_label label">STOCK NAME :</p>
          <p class="reference_value value">{{ product.stock_name }}</p>
        </div>
        <div class="group">
          <p class="reference_label label">STOCK MARKET :</p>
          <p class="reference_value value">{{ product.stock_market }}</p>
        </div>
      </div>
      <div class="panel_right panel">
        <img src="/assets/pictures/product.jpg" alt="image" />
      </div>
    </div>
    <div class="group">
      <p class="description_label label">DESCRIPTION :</p>
      <p class="description_value value">{{ product.description }}</p>
    </div>
    <button class="add" (click)="addToCart()">
      <p>Add to cart</p>
      <fa-icon class="icon" [icon]="['fas', 'shopping-cart']"></fa-icon>
    </button>
    <button class="back">Back</button>
  </div>
</div>

<div class="card" *ngIf="error || !product">
  <h2 class="card_title">PRODUCT NOT FOUNDED</h2>
  <p class="error-message">
    It seem's like, the product you're currently searching for doesn't exist!
  </p>
</div>
