<div class="card">
  <h2 class="card_title">CART</h2>
  <div *ngIf="products$ | async as products">
    <app-list-item
      *ngFor="let product of products"
      [isDeletable]="true"
      [product]="product.product"
      [quantity]="product.quantity"
    ></app-list-item>
    <div class="error-container" *ngIf="!(products.length)">
      <h3>No product found in your cart</h3>
      <fa-icon class="icon" [icon]="['fas', 'frown']"></fa-icon>
    </div>
  </div>
  <button (click)="removeAll()" class="delete-all" *ngIf="total$ | async">
    Delete all
  </button>
  <p class="total" *ngIf="total$ | async as total">Total : {{ total }}€</p>
</div>
