<div class="footer">
  <p>TP Réalisé par Freymann Ludéric</p>
  <div class="link-list">
    <div class="link-item">
      <a
        class="icon"
        href="https://github.com/Luderic67/tp04_freymann_luderic"
        target="_blank"
      >
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <p>Github</p>
    </div>
    <div class="link-item">
      <a
        class="icon"
        href="https://tp01-freymann-luderic.herokuapp.com/"
        target="_blank"
      >
        <fa-icon [icon]="['fas', 'file-code']"></fa-icon>
      </a>
      <p>TP01</p>
    </div>
    <div class="link-item disabled">
      <a class="icon" href="#" target="_blank">
        <fa-icon [icon]="['fas', 'file-code']"></fa-icon>
      </a>
      <p>TP02</p>
    </div>
    <div class="link-item">
      <a
        class="icon"
        href="https://tp03-freymann-luderic.herokuapp.com/"
        target="_blank"
      >
        <fa-icon [icon]="['fas', 'file-code']"></fa-icon>
      </a>
      <p>TP03</p>
    </div>
  </div>
</div>
