<div class="card">
  <h2 class="card_title">CREATE ADDRESS</h2>
  <form class="form" [formGroup]="addressesForm" (ngSubmit)="handleSubmit()">
    <div class="form-group">
      <h2>Address</h2>
      <div class="form-field">
        <label for="street">Street <span>*</span></label>
        <input id="street" type="text" formControlName="street" />
        <app-control-messages
          [control]="addressesForm.get('street')"
        ></app-control-messages>
      </div>
      <div class="form-field">
        <label for="zip_code">Zip Code <span>*</span></label>
        <input id="zip_code" type="number" formControlName="zip_code" />
        <app-control-messages
          [control]="addressesForm.get('zip_code')"
        ></app-control-messages>
      </div>
      <div class="form-field">
        <label for="city">City <span>*</span></label>
        <input id="city" type="text" formControlName="city" />
        <app-control-messages
          [control]="addressesForm.get('city')"
        ></app-control-messages>
      </div>
      <div class="form-field">
        <label for="country">Country <span>*</span></label>
        <select id="country" formControlName="country">
          <option *ngFor="let loc of locations" [ngValue]="loc">
            {{ loc }}
          </option>
        </select>
        <app-control-messages
          [control]="addressesForm.get('country')"
        ></app-control-messages>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<div class="card">
  <h2 class="card_title">
    ADDRESSES
    <p
      class="addresses_number"
      *ngIf="addressesLength$ | async as addressesLength"
    >
      {{ addressesLength }}
    </p>
  </h2>
  <div *ngIf="addresses$ | async as addresses">
    <div class="list" *ngFor="let address of addresses">
      <div class="container-left">
        <div class="section-top">
          <h2>Address {{ address.id }}</h2>
        </div>
        <div class="section-bottom">
          <div class="group-left">
            <p class="label">Street</p>
            <p>{{ address.street }}</p>
            <p class="label">Zip code</p>
            <p>{{ address.zip_code }}</p>
          </div>
          <div class="group-middle">
            <p class="label">City</p>
            <p>{{ address.city }}</p>
            <p class="label">Country</p>
            <p>{{ address.country }}</p>
          </div>
        </div>
      </div>
      <div class="container-right">
        <button class="delete" (click)="removeAddress(address)">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="error-container" *ngIf="!(addressesLength$ | async)">
    <h3>Nothing founded</h3>
    <fa-icon class="icon" [icon]="['fas', 'frown']"></fa-icon>
  </div>
</div>
